/* LOGO E TITOLO */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
#logo {
    height: 70px;
    line-height:70px;
    vertical-align: middle;
}

#nomelogo {
    font-size: 30px;
    font-weight: bolder;
}

body {
    background-color: rgb(230, 227, 227);
}

.barra-top {
    background-color: white;
    margin: 0px;
}

main {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    height: 1500px;
}


/* CONTAINER */
.container {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;

}
.container2 {
    margin-left: 100px;
    margin-right: 100px;
}


/* CHECK AND CROSS */
.check {
    color: rgb(4, 185, 4);
    background: white;
    border: 1px solid green;
    border-radius: 50%;
    vertical-align:text-top;
    height: 20px;
    width: 20px;
    display: inline-block;
}
.cross {
    color: red;
    background: white;
    border: 1px solid red;
    border-radius: 50%;
    vertical-align:text-top;
    height: 20px;
    width: 20px;
    display: inline-block;
}


div{
    margin-top: 8px;
}
.edi {
    color: white;
    background-color: rgb(32, 149, 228);
    padding: 3px;
    border-radius: 15px;
}


/* BOTTONI */
#button1 {
    color:white;
    background-color: rgb(32, 149, 228);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(32, 149, 228); 
}
#button2{
    color: grey;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid lightgrey; 
    background-color: white;
}

.q1 {
    color: white;
    background-color: rgb(104, 37, 121);
    padding: 3px;
    border-radius: 15px;
}.web {
    color: rgb(255, 255, 255);
    background-color: rgb(207, 75, 201);
    padding: 3px;
    border-radius: 15px;
}.recru {
    color: white;
    background-color: rgb(9, 185, 118);
    padding: 3px;
    border-radius: 15px;
}.mob {
    color: white;
    background-color: rgb(212, 129, 5);
    padding: 3px;
    border-radius: 15px;
}
.sales {
    color: white;
    background-color: rgb(159, 184, 19);
    padding: 3px;
    border-radius: 15px;
}


