/* LOGO E TITOLO */
#logo {
    height: 70px;
    line-height:70px;
    vertical-align: middle;
}
#nomelogo {
    font-size: 30px;
    font-weight: bolder;
}

body {
    background-color: lightgrey;
}
.barra-top {
    background-color: white;
    margin: 0px;
}

main {
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    height: 1500px;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
}
.container2 {
    margin-left: 100px;
    margin-right: 100px;

}